<!--
<h3>{{produto.name | uppercase}}</h3>
<div><span>Preço:</span> {{produto.price | currency}}</div>
<div><span>Vegano?</span> {{produto.vegan}}</div>

<div>
    <label>
        <input type="text" [(ngModel)] = "produto.name" placeholder="Nome do produto">
    </label>
    <label>
        <input type="number" [(ngModel)] = "produto.price" placeholder="Preço do produto">
    </label>
</div>
-->

<h2>Lista de produtos cadastrados</h2> 
<ul>
    <li *ngFor="let prod of listaProdutos">
        <span>{{prod.name}}</span>: {{prod.price | currency}}
        <span *ngIf="prod.vegan"><b> - Sem origem animal - </b></span> 
        <span *ngIf="!prod.vegan"><b> - Origem animal - </b></span> 
        <span> Quantidade disponível: {{prod.amount}}</span>
    </li>
</ul>